@page
@model PVA_Zápočet.Pages.CreditPages.OutputModel
@{
    ViewData["Title"] = "Output";
}

<div class="md-3">
    <h3>Forms recieved: @Model.Credits.Count()</h3>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Success</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Credits)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Created</td>
                    <td>@item.Success</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>